@import url(https://fonts.googleapis.com/css?family=Montez|Pompiere);
*{
    padding: 0;
    margin: 0;
    font-family: roboto, sans-serif;
    /* font-family: Pompiere; */
    list-style: none;
    }
.gif{
    width: 100%;
    display:none;
}
.sectionHome{
    background-image: url(img/responsive.gif);
    background-repeat: no-repeat;
    background-size: cover;
     display: flex;
     justify-content: center;
    height: 100vh;
    flex-direction: column;
    align-items: flex-end;
    
 }
.intro{
    
    width: 85%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
    margin: 20px;
    /* position: absolute;
    bottom: -90%; */
}
h1{
    padding: 0 20px 20px 0px;
    font-size:33px;
    color: #26416d;
    text-align: center;
}
.pIntro{
    padding: 0 20px 20px 0px;
    font-size: 20px;
    color: rgb(90, 88, 88);
    text-align: justify;
}
.btnHome{
    width: 35%;
    background-color: #D6E5FA;
    border: 1px solid rgba(158,158,255,1);
    border-radius:5px;
    /*font-family: Roboto, sans-serif;*/
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 150px;
    margin-bottom: 20px;
    /*position: absolute;
    color:gray;
    bottom: 722%;
    left: -5%;
    padding: 1%;*/
   
}


#formRegister{
    display: flex;
    flex-direction: column;
    width: 63%;
    padding: 30px;
    margin: 30px;
    background: rgb(255 255 255 / 50%);
    box-shadow: 0 25px 45px rgb(0 0 0 / 25%);
    border: 1px solid rgba(255,255,255,0.25);
    backdrop-filter: blur(5px);
    /*backdrop-filter:blur(2px);*/


}

.classInput{
    background-color: rgba(255, 255, 255);
    border: 1px solid rgba(158,158,255,1);
    border-radius:5px;
    color:gray;
    text-align: justify;
    width: 90%;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 10px;
/*         font-size: 30px;
        margin-bottom: 10px;
        width:60%;
        height:30px;
        padding: 5px;*/
} 
#titleRegister{
    padding: 0;
    margin-bottom: 20px;
    color: #26416d;
}

.classInput:hover{
    background-color: rgba(213, 243, 248, 0.6);
    border: 1px solid rgb(223, 226, 10);
}
#formLogin{
    display: flex;
    flex-direction: column;
    width: 63%;
    padding: 30px;
    margin: 30px;
    background: rgb(255 255 255 / 50%);
    box-shadow: 0 25px 45px rgb(0 0 0 / 25%);
    border: 1px solid rgba(255,255,255,0.25);
    backdrop-filter: blur(5px);
   /*  position: absolute;
    bottom:65%;
    left:15%;
    font-size: 30px;
    text-align: left;
    width: 70%;
    padding: 10px; */
}
.button{
    border: 2px solid black;
    border-radius: 5px;
    background-color: #26416d;
    color:white;
    font-size: 23px;
    width: 98%;
    padding: 2px;
    margin-bottom: 9px;
}
button:hover{
    background-color: #4d9696;
}
.redirect{
    background: none;
    border: 0;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    font-family: roboto;
}
.redirect:hover{
    color: black;
    font-weight: bolder;
}
.hidden{
    display:none;
}
.sectionsForms{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: url(img/FondoOficialMobile.png);
    
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.mainPage{
    display: grid;
    grid-template-columns: repeat(12,8.3%);
    grid-template-rows: repeat(12,8.3%);
    width: 100vw;
    height: 100vh;
    /*font-family: 'Bellefair', serif;*/
} 
#headerMain{
    grid-column: 1/span 12;
    grid-row: 1;
    background-color: #26416d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#logoMain{
    height: 100%;
    
    /* margin: 15px 40px 10px 50px; */
}

.main{
    display:flex;
    justify-content: space-evenly;
}
.imagen{
    width:20%;
    height:20%;
    margin-top:7%;
}
#inputSearch{
    height: 60%;
    width: 50%;
    border-radius: 4px;
    background-color: #faf7f1;
    color: gray;
    border: 1px solid transparent;
    font-size: 20px;
    font-weight: bold;
    /*margin: 20px 50px 20px 10px;*/
    padding: 0 20px;
    /*font-family: 'Bellefair', serif;*/
}
#btnSignOut{
    display: none;
}
#btnMenuContainer{
    width: 10%;
    font-size: 26px;
    color: white;
    background: none;
    border: none;
}
#asideMain {
    display: none;
    grid-column: 9/span 4;
    grid-row: 2/span 3;
    background-color: #f4bebc;
    border-radius: 0px 0px 0px 60px;
    text-align: center;
    z-index: 1;
}
#asideMain.active{
    display: flex;
}
#ulGroup{
    width: 100%;
}
.liGroup{
    width: 100%;
    height: 20%;
    height: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*font-family: 'Bellefair', serif;*/
}
.liGroup:hover{
    background: #F9DBDA;
    
}
.error{
    color: #ff5656de;
    font-size: 20px;
    font-weight: bold;  
}
#postSection{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    width: 100vw;
    text-align: center;
}
#btnPost {
    width: 30%;
    padding: 4px 5px;
    font-size: 18px;
    color: white;
    font-weight: 500;
    background: #25406D;
    border:1px solid #25406D;;
    border-radius: 4px;
    /*font-family: 'Bellefair', serif;*/
    margin: 7px 0;
}
#btnPost:hover{
    background: white;
    color: black;
}
#postDescription {
    width: 60%;
    border-radius: 10px;
    border: none;
    box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
    padding: 20px;
    /*font-family: 'Bellefair', serif;*/
    font-size: 20px;
}
.cardPost {
    width: 60%;
    margin: 20px auto;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #26416d75;
    font-size: 18px;
    font-family: 'Bellefair', serif;
    display: flex;
}
.btnDelete, .btnEdit{
    border: none;
    background: none;
}
#root {
overflow-x: hidden;
}
 
.logosSignIn{
    width: 7%;
    margin-right: 3%;
}
.btnDelete, .btnEdit {
    font-size: 25px;
}
.btnsPost {
    display: none;
    flex-direction: column;
    align-items: flex-end;
}
.btnsPost.active{
    display: block;
}
.textPost{
    flex-grow: 1;
    font-family: 'Bellefair', serif;
}
.fa-solid, .fas {
    margin-right: 7%;
}

.modalDelete {
    background: #f4bebc;
    position: fixed;
    z-index: 1;
    padding: 100px;
    width: 60%;
    /*overflow: auto;*/
    padding: 50px;
    margin: auto;
    border-radius: 15px;
    font-size: 25px;
    font-family:'Roboto', sans-serif;

} 
#modalContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
#modalContainer.zIndex{
    z-index: 1;
}
.btnAccept{
    margin: 3%;
    padding: 5px;
    width: 25%;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}
.btnCancel{
    margin: 3%;
    padding: 5px;
    width: 25%;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}
#iconEye{
    position: absolute;
    bottom:43%;
    left:87%;
}
#iconEye2{
    position: absolute;
    bottom: 41.5%;
    left: 86.5%;
}
#iconEye3{
    position: absolute;
    bottom: 55.5%;
    left: 82.5%;
 
}
.inputPass{
    position: relative;
}

img#dataGoogle {
    height: 80%;
    border-radius: 50%;
}
button.btnsCrud {
    height: 20%;
}
 @media (min-width: 768px) and (max-width: 2640px) {
  
    .sectionHome{
        background-image: url(img/background.gif);
     }
     .intro{
         width: 38%;
     }
     h1{
        font-size: 50px;
     }
     .pIntro{
        font-size: 35px;
    }
    .btnHome{
        width: 20%;
        font-size: 30px;
    }
    #formRegister{
        width: 30%;
        
    }
    #formLogin{
        width: 30%;
    }
    .button{
        width: 95%;
    }
    .sectionsForms{
        background-image: url(img/FondoOficial.png);
    }
    #asideMain{
        
        grid-column: 1/span 2;
        grid-row: 2/span 11;
        display: flex;
        background-color: #f4bebc;
        border-radius: 0;
        
    }
    #logoMain{
        height: 130%;
        margin-right: 12%;
    }
    #btnMenuContainer{
        display: none;
    }
    #btnSignOut{
        display: block;
        height: 55%;
        width: 10%;
        font-family: 'Bellefair', serif;
        border-radius: 5px;
        font-size: 15px;
    }
    #postSection{
        width: 80vw;
    }
    #modalContainer{
        width: 80%;
    }
    .modalDelete{
        width: 40%;
    }
    #iconEye3{
        bottom: 53.5%;
        left: 82.5%;
    }
 }
   /* .gifSmall{
        display:none;
    }
    .gif{
        display:block;
    }
    .intro{
        left: 55%;
        width: 100%;
    }
    h1{
        font-size: 40px;
    }
    .pIntro{
        font-size: 25px;
    }
    .btns{
        width:40%;
        bottom: 732%;
        left: 60%;
    }
    .btn1{
        width:40%;
        bottom: 732%;
        left: 108%;
    }
    .sectionHome{
        bottom:30%;
        left:35%;
        width: 40%;
        height: 7%;
    }
    #formRegister{
        bottom: 5%;
        left:52%;
        font-size: 20px;
        width: 30%;
        padding: 5%;
    }
    .classInput{
        font-size: 20px;
        width:100%;
        height:20px;
    }
    #formLogin{
        bottom: 22%;
        left:52%;
        font-size: 20px;
        width: 40%;
        padding: 5%;
    }
    .button{
        font-size: 20px;
        width: 30%;
    }
    .buttonFirebase{
    font-size: 20px;
    width: 50%;
    padding: 5px;
    }
}*/
/* @media (min-width: 867px) and (max-width: 2640px) {
    /* .sectionHome{

    } */
    /* .gifSmall{
        display:none;
    }
    .gif{
        display:block;
    }
    .intro{
        left: 60%;
        width: 35%;
        bottom:40%;
    }
    #h1Intro{
        font-size: 65px;
    }
    .pIntro{
        font-size: 45px;
    }
    .classInput{
        width: 100%;
        padding: 12px;
        font-size: 18px;
    }
    .classForm{
        align-content: space-around;
        top:10%;
        font-size: 20px;
        left:70%;
        width: 20%;
        padding: 15px;
    }; */
    
/* } */